.App {
  background-color: rgb(233, 233, 233);
}
.main-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.activities-container{
  width: 90%;
  margin: 100px auto;
}
.exercise-details-container{
  background-color: #ffffff;
  padding: 50px 20px;
}