.App {
  background-color: #F0FDFA;
}
.activities-container,
.QueAns-container{
  width: 90%;
  margin: 0 auto;
}
.exercise-details-container{
  background-color: #ffffff;
  padding: 50px 20px 30px;
  position: relative;
}
